# Python & Runtime
__pycache__/
*.py[cod]
*$py.class
*.log

# Virtual Environments
venv/
.venv/
env/
.env

# OS & Editor Metadata
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignore the folder where music is downloaded
downloads/

# Ignore the folder where logs are stored
logs/

# Ignore temporary download parts (yt-dlp artifacts)
*.part
*.ytdl
*.f*

#  FFmpeg & Binaries
*.zip
ffmpeg.exe
ffplay.exe
ffprobe.exe

# Other files
config.json
*.txt
*.md
!requirements.txt
!README.md
